{% extends 'fasto/elements/layouts/admin.html' %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'fasto/vendor/lightgallery/css/lightgallery.min.css')}}">
{% endblock %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-body">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="profile-tab">
                                            <div class="custom-tab-1">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item"><a href="#profile-settings" data-bs-toggle="tab" class="nav-link active show">Paramètres</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="profile-settings" class="tab-pane fade active show">
                                                        <div class="pt-3">
                                                            <div class="settings-form">
                                                                <h4 class="text-primary">Paramètres du compte</h4>
                                                                <form method="POST" action="{{ url_for('main.profile') }}" enctype="multipart/form-data" onsubmit="return validateForm()">
                                                                    <div class="row">
                                                                        <div class="mb-3 col-md-6">
                                                                            <label class="form-label">Nom</label>
                                                                            <input type="text" name="nom" value="{{ user.nom }}" class="form-control">
                                                                        </div>
                                                                        <div class="mb-3 col-md-6">
                                                                            <label class="form-label">Prénom</label>
                                                                            <input type="text" name="prenom" value="{{ user.prenom }}" class="form-control">
                                                                        </div>
                                                                        {% if user.role == 'formateur' %}
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Secteur</label>
                                                                                <input type="text" name="secteur" value="{{ user.secteur }}" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Compétences</label>
                                                                                <input type="text" name="competences" value="{{ competences_str }}" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Région d'habitation</label>
                                                                                <input type="text" name="region_habitation" value="{{ user.region_habitation }}" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Photo de profil</label>
                                                                                <input type="file" name="photo_profil" class="form-control">
                                                                                {% if user.photo_profil %}
                                                                                    <img src="data:image/jpeg;base64,{{ user.photo_profil }}" alt="Photo de profil" class="mt-2" width="150">
                                                                                {% endif %}
                                                                            </div>
                                                                        {% elif user.role == 'ecole' %}
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Statut</label>
                                                                                <input type="text" name="status" value="{{ user.status }}" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Adresse postale</label>
                                                                                <input type="text" name="adresse" id="adresse" value="{{ user.adresse }}" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3 col-md-6">
                                                                                <label class="form-label">Numéro de téléphone</label>
                                                                                <input type="text" name="telephone" id="telephone" value="{{ user.telephone }}" class="form-control">
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <button class="btn btn-primary" type="submit">Mettre à jour</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-primary">Informations personnelles</h4>
                                        <div class="row mb-2">
                                            <div class="col-sm-3 col-5">
                                                <h5 class="f-w-500">Nom <span class="pull-end">:</span></h5>
                                            </div>
                                            <div class="col-sm-9 col-7"><span>{{ user.nom }} {{ user.prenom }}</span></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-sm-3 col-5">
                                                <h5 class="f-w-500">Email <span class="pull-end">:</span></h5>
                                            </div>
                                            <div class="col-sm-9 col-7"><span>{{ user.email }}</span></div>
                                        </div>
                                        {% if user.role == 'formateur' %}
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Secteur <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{ user.secteur }}</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Compétences <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{ competences_str }}</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Région d'habitation <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{ user.region_habitation }}</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Photo <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    {% if user.photo_profil %}
                                                        <img src="data:image/jpeg;base64,{{ user.photo_profil }}" alt="Photo de profil" class="mt-2" width="150">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% elif user.role == 'ecole' %}
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Statut <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{ user.status }}</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Adresse postale <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{ user.adresse }}</span></div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Numéro de téléphone <span class="pull-end">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{ user.telephone }}</span></div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block additional_js %}
<script>
function validateForm() {
    var email = document.getElementById("email").value;
    var telephone = document.getElementById("telephone").value;
    var adresse = document.getElementById("adresse").value;
    
    // Validate email
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    if (!emailPattern.test(email)) {
        alert("Veuillez entrer une adresse e-mail valide.");
        return false;
    }

    // Validate telephone
    var telephonePattern = /^[0-9]{10}$/;
    if (!telephonePattern.test(telephone)) {
        alert("Veuillez entrer un numéro de téléphone valide de 10 chiffres.");
        return false;
    }

    // Validate address (you can adjust this pattern based on your specific needs)
    var adressePattern = /^[a-zA-Z0-9\s,'-]*$/;
    if (!adressePattern.test(adresse)) {
        alert("Veuillez entrer une adresse postale valide.");
        return false;
    }

    return true;
}
</script>
{% endblock %}
