<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../static/fasto/images/img/Favicon.png" />
    <link rel="stylesheet" href="../../../static/fasto/css/styleAccueil.css">
    <title>Nous Rejoindre</title>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" defer></script>
    <script src="../../../static/fasto/js/script.js" defer></script>
  </head>
<body>

  <!-- PARTIE HEADER  -->
  <header>
    <nav class="navbar">
      <a href="{{ url_for('main.home') }}"><img src="../../../static/fasto/images/img/logo.png" alt="Logo" class="logo"></a>
      <ul class="nav-links">
        <li><a href="{{ url_for('main.notrehistoire') }}">Notre Histoire</a></li>
        <li><a href="{{ url_for('main.partenariat') }}">Partenariat</a></li>
        <li><a href="{{ url_for('main.nousrejoindre') }}">Nous Rejoindre</a></li>
        <li><a href="{{ url_for('main.discord') }}">Communauté Discord</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
        <li><a href="{{ url_for('main.page_login') }}" class="btn-secondary"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
        <li><a href="{{ url_for('main.page_register_choice') }}" class="btn-primary"><i class="fas fa-user-plus"></i> Inscription</a></li>
      </ul>
      <div class="navbar-right"></div>
      <img class="burger" src="../../../static/fasto/images/img/burger-blanc.png">
    </nav>
    <br>
    <div class="line"></div>
  </header>

  <div class="whatsapp-float">
    <a href="https://wa.me/+33662483678?text=Bonjour%2C%20je%20souhaite%20avoir%20plus%20d%27informations%20concernant%20vos%20services." target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>

    <!-- Cadre rouge avec le message -->
<div class="alert-message">
      Pas de mise en relation entre les prestataires externes et les organismes de formation
</div>
  
<main>
    <section class="typingCenter">
        <h1 class="typing">Être labélisé ? </h1>
    </section>

    <section class="label-lfp2024">
        <h1 class="title">Pourquoi être labellisé LSSP 2024 ?</h1>
        <p class="intro">Le label LSSP 2024 : Label Soft Skills Professionnels est un gage de qualité qui valorise votre engagement en tant que formateur, tant sur le plan éthique que déontologique. Il vous permet de vous démarquer dans un marché compétitif en garantissant que vous respectez les plus hauts standards professionnels.</p>
        <div class="benefits-container">
          <div class="benefit">
            <h2>Reconnaissance de votre professionnalisme</h2>
            <p>Le label LSSP 2024 atteste que vous avez satisfait aux critères stricts de qualité définis par l’Institut de Labélisation Français. Il met en avant votre sérieux, votre engagement éthique, et votre capacité à offrir des prestations de qualité.</p>
          </div>
          
          <div class="benefit">
            <h2>Affichage dans une liste officielle</h2>
            <p>Une fois labellisé, votre nom sera ajouté à la liste officielle des formateurs certifiés, offrant une meilleure visibilité et crédibilité auprès des établissements de formation.</p>
          </div>
      
          <div class="benefit">
            <h2>Atout pour renforcer votre image professionnelle</h2>
            <p>Le label LSSP 2024 vous permet de consolider votre image professionnelle, en affichant cette certification sur vos CV et plateformes professionnelles.</p>
          </div>
      
          <div class="benefit">
            <h2>Engagement éthique reconnu</h2>
            <p>Le label reflète votre adhésion à des standards élevés en matière d’éthique et de déontologie, vous distinguant des autres acteurs du secteur.</p>
          </div>
      
          <div class="benefit">
            <h2>Amélioration continue de vos pratiques</h2>
            <p>Le processus de labélisation vous permet d'améliorer vos méthodes et de répondre aux attentes actuelles des organismes, favorisant une réflexion continue sur vos pratiques.</p>
          </div>
      
          <div class="benefit">
            <h2>Conclusion</h2>
            <p>Le label LSSP 2024 est un outil essentiel pour prouver votre engagement envers des pratiques déontologiques et éthiques de haute qualité.</p>
          </div>
        </div>
      </section>
      <!-- Section pour le téléchargement du référentiel -->
      <section class="referentiel-section">
        <div class="containerRef">
          <h2>Téléchargez notre Référentiel LSSP 2024</h2>
          <p>Découvrez les objectifs, compétences, et modalités de labellisation décrits dans notre Référentiel de Compétences. Ce document est essentiel pour comprendre notre processus et nos valeurs.</p>
          <a href="../../../static/fasto/admnistratif/refLSSP2024.pdf" download="Référentiel_LSSP_2024.pdf" class="btn-download">
            <i class="fas fa-download"></i> Télécharger le Référentiel
          </a>
        </div>
      </section>

    <!-- TimeLine Step -->
    <div class="title-section">
        <h1>Processus de labellisation LSSP 2024</h1>
    </div>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-content">
                <h2>Étape n°1 : Inscription</h2>
                <p>Pour débuter votre démarche de labellisation, rendez-vous sur notre site internet. Cliquez sur l'icône en haut à droite pour accéder au formulaire d'inscription. Vous devrez renseigner vos informations personnelles (nom, prénom, adresse email, etc.), choisir votre secteur d'activité (ex. : Informatique, Marketing, Formation, etc.) et lister vos principales compétences (ex. : HTML5, CSS3, Figma, etc.). Il est également recommandé de télécharger une photo professionnelle pour compléter votre profil. Une fois toutes ces étapes terminées, vous recevrez un email de confirmation. Celui-ci contiendra un lien que vous devrez activer pour finaliser votre inscription. 
                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2>Étape n°2 : Prise de rendez-vous</h2>
                <p>Après la validation de votre inscription, vous serez invité à prendre rendez-vous avec l'un de nos conseillers pour poursuivre le processus de labellisation. À cette étape, vous aurez la possibilité de choisir un créneau horaire parmi les disponibilités proposées sur notre plateforme. Pour confirmer ce rendez-vous, vous devrez régler le montant total de la labellisation, fixé au prix de lancement de 300 € TTC, soit en un seul paiement, soit en plusieurs mensualités (en 2, 3, ou 6 fois). Une fois le paiement effectué, un email de confirmation de rendez-vous vous sera envoyé avec tous les détails pratiques.
                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2>Étape n°3 : Préparation à l’entretien de labellisation</h2>
                <p>Votre entretien est une étape cruciale dans le processus de labellisation. Pour que celui-ci se déroule dans les meilleures conditions, assurez-vous d’avoir à disposition une pièce d'identité valide que vous devrez présenter au début de l’entretien pour confirmer votre identité.

                    <br><br>L’entretien durera environ deux heures, durant lesquelles vous serez évalué sur des aspects clés tels que la déontologie, l'éthique professionnelle, et les compétences comportementales. Nous vous poserons une série de questions relatives à votre secteur d’activité, avec une attention particulière portée à votre capacité à garantir un haut niveau d'éthique dans vos pratiques.
                    
                    <br><br>Nous utiliserons une grille d'évaluation structurée, similaire à un système de notation progressif, pour attribuer des points selon vos réponses. Cela nous permet de mesurer objectivement votre performance. L’entretien sera enregistré afin de permettre une révision ultérieure si nécessaire, garantissant ainsi une évaluation juste et rigoureuse pour tous les candidats.
                    </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2>Étape n°4 : Compte rendu de l’évaluation</h2>
                <p>Une fois votre entretien terminé et évalué, ainsi que les retours des trois organismes de formation que vous aurez contactés en amont, vous recevrez une réponse sous 7 à 10 jours ouvrables.

                    <br><br>Réponse positive : Si votre évaluation est concluante, vous recevrez un email vous confirmant votre labellisation. Cette attestation pourra être ajoutée à votre CV et affichée sur des plateformes professionnelles comme LinkedIn. De plus, votre nom figurera dans notre liste officielle des formateurs labellisés, consultée par nos écoles et partenaires institutionnels, vous offrant ainsi une meilleure visibilité auprès des organismes de formation.
                
                    <br><br>Réponse négative : Si votre candidature n’est pas retenue, nous vous contacterons par téléphone pour discuter des raisons de cette décision. Un rapport détaillé vous sera fourni, avec des recommandations pour améliorer certains points. Vous aurez la possibilité de retravailler ces aspects et de reprendre rendez-vous pour un nouvel entretien. Dans ce cas, des frais de 50 € seront appliqués pour planifier ce nouveau rendez-vous. Cependant, si votre candidature échoue une seconde fois, vous devrez repasser tout le processus de labellisation et régler à nouveau la totalité des frais de 300 € TTC.
                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2>Étape n°5 : Signature de la charte de déontologie</h2>
                <p>Une fois votre label obtenu, vous recevrez une charte de déontologie que vous devrez lire attentivement et signer. Cette charte définit les valeurs, les règles de conduite et les standards éthiques que chaque formateur labellisé s'engage à respecter. Elle vise à garantir un comportement professionnel irréprochable, tant envers les apprenants qu’envers les institutions partenaires.

                    <br><br>Tout manquement à cette charte entraînera un avertissement formel. Après trois avertissements, votre label pourra être suspendu ou révoqué. Chaque avertissement sera accompagné d'une enquête minutieuse menée par notre équipe. Cette rigueur dans la gestion des écarts permet de garantir la crédibilité et la valeur de notre label auprès des organismes de formation et des apprenants.</p>
            </div>
        </div>
    </div>
    
      <!-- FOOTER  -->
      <footer class="footer">
        <div class="footer-content">
          <div class="footer-section about">
            <h2 class="logo-text">Institut de Labélisation Français</h2>
            <p id="textfooter">
              L'Institut est dédié à la labélisation des prestataires externes, assurant des standards de
              qualité élevés.
            </p>
            <div class="contact">
              <span><i class="fas fa-map-marker-alt"></i> 10 rue de Penthièvre 75008 Paris, France</span>
              <span><i class="fas fa-envelope"></i> contact@institutdelabelisationfrancais.fr</span>
            </div>
          </div>
    
          <div class="footer-section links">
            <h3>Liens Utiles</h3>
            <ul>
              <li><a href="../../../static/fasto/admnistratif/Institut de Labélisation Français - Politique de confidentialité - 2024-10-21T15_00_25Z.pdf" download="Institut de Labélisation Français - Politique de confidentialité - 2024-10-21T15_00_25Z.pdf">Mentions légales</a></li>
              <li><a href="../../../static/fasto/admnistratif/CGU - Institut de Labélisation Français - 2024-10-21T14_53_49Z.pdf" download="CGU - Institut de Labélisation Français - 2024-10-21T14_53_49Z.pdf">CGU</a></li>
              <li><a href="../../../static/fasto/admnistratif/CGV_Institut_Labélisation_Français.pdf" download="CGV_Institut_Labélisation_Français.pdf">CGV</a></li>
              <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
            </ul>
          </div>
    
          <div class="footer-section social">
            <h3>Suivez-nous</h3>
            <div class="social-icons">
              <a href="https://www.linkedin.com/company/institut-de-labelisation-fran%C3%A7ais"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
    
        <div class="footer-bottom">
          &copy; 2024 Institut de Labélisation Français | Tous droits réservés.
        </div>
      </footer>

    
      
</main>
</body>
</html>