<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fasto/vendor/bootstrap-select/dist/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fasto/css/style.css')}}">        
</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="auth-form">
                            <div class="text-center mb-3">
                                <img src="{{ url_for('static', filename='fasto/images/logo-full.png')}}" alt="">
                            </div>
                            <h4 class="text-center mb-4">Mot de passe oublié</h4>
                            <form method="POST">
                                <div class="form-group">
                                    <label><strong>Email</strong></label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
                                </div>
                            </form>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='fasto/vendor/global/global.min.js')}}"></script>
<script src="{{ url_for('static', filename='fasto/vendor/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='fasto/js/custom.min.js')}}"></script>
<script src="{{ url_for('static', filename='fasto/js/deznav-init.js')}}"></script>
</body>
</html>
